<form [formGroup]="userFom">
  <fieldset>
  <div class="row">
    <div class="form-group col-md-6">
      <label for="nome">Nome</label>
      <input id="nome" type="text" class="form-control" formControlName="nome">
    </div>
    <div class="form-group col-md-3">
      <label for="idade">Idade</label>
      <input id="idade" type="number" class="form-control" formControlName="idade">
    </div>
  </div>
  <button (click)="submitForm()" class="btn btn-success">Incluir</button>
</fieldset>
</form>

<div class="row">
    <app-usercard
      (userInfoEmiter)="infoUserSelecionado($event)"
      *ngFor="let user of users"
      [user]="user"
      class="col-md">
    </app-usercard>
</div>

<div *ngIf="userSelecionado" class="mt5 border col-md p-3">
  <h2>Usuário Selecionado</h2>
  <p>Nome: {{ userSelecionado.nome }}</p>
  <p>Idade: {{ userSelecionado.idade }}</p>
</div>
