<form [formGroup]="userFom">
  <fieldset>
  <div class="row">

    <div class="form-group col-md-6">
      <label for="nome">Nome</label>
      <input
        id="nome"
        type="text"
        class="form-control"
        [class.is-invalid]="userFom.get('nome')?.errors && userFom.get('nome')?.touched"
        formControlName="nome">
    </div>

    <div
      *ngIf="userFom.get('nome')?.hasError('required')"
      class="invalid-feedback">
      Este campo é obrigatório
    </div>
    <div
      *ngIf="userFom.get('nome')?.hasError('maxlength')"
      class="invalid-feedback">
      O nome não pode ultralassar 255 caracteres
    </div>

    <div class="form-group col-md-3">
      <label for="idade">Idade</label>
      <input id="idade" type="number" class="form-control" formControlName="idade">
    </div>

    <div
      *ngIf="userFom.get('idade')?.hasError('required')"
      class="invalid-feedback">
      Este campo é obrigatório
    </div>
    <div
      *ngIf="userFom.get('idade')?.hasError('min') || userFom.get('idade')?.hasError('max')"
      class="invalid-feedback">
      A idade deve ser entre 12 e 120 anos
    </div>

  </div>
  <button
    [disabled]="!userFom.valid"
    (click)="submitForm()"
    class="btn btn-success">
    Incluir
  </button>
</fieldset>
</form>

<div class="row">
    <app-usercard
      (userInfoEmiter)="infoUserSelecionado($event)"
      *ngFor="let user of users"
      [user]="user"
      class="col-md-3 mb-3">
    </app-usercard>
</div>

<div *ngIf="userSelecionado" class="mt5 border col-md p-3">
  <h2>Usuário Selecionado</h2>
  <p>Nome: {{ userSelecionado.nome }}</p>
  <p>Idade: {{ userSelecionado.idade }}</p>
</div>
