.list-buttom{
    list-style-type: none;
}
button{
    margin-bottom: 10px;
    margin-top: 10px;;
}
hr{
    width: 100%;;
}

fieldset {
  border:1px solid blanchedalmond;
  max-width: 100%;
  padding: 12px;
  margin-bottom: 10px;
}
